@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
$black: #181717;

* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans";
}

body {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar:vertical {
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $black;
    border-radius: 10px;
  }
}

/*Site Background*/
#app {
  background: fixed
    url("https://image.freepik.com/free-vector/grunge-dusty-texture-background_1048-9793.jpg")
    repeat;
}

.site-body {
  height: fit-content;
  background: fixed
    url("https://image.freepik.com/free-vector/grunge-dusty-texture-background_1048-9793.jpg")
    repeat;
}

.body {
  margin-top: 8em;
}

/*NavBar*/
nav {
  width: 100%;
  padding: 1em 3em !important;
  background-color: $black;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;

  img {
    width: 130px;
    filter: invert(1);
  }

  .dropdown {
    background-color: transparent;
    border-radius: 5px;

    button {
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;

      &:hover {
        background-color: #fff;
        color: #181717;
      }
    }

    .dropdown-menu {
      left: -43px !important;
      margin-bottom: unset !important;
      width: 200px;
      text-align: center;
      font-weight: 500;

      .item-favoritos {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 0.5em 1em;

        &:hover {
          background-color: #dddddd;
        }

        .delete {
          cursor: pointer;
        }
      }
    }
  }
}

/*Character & Planets container styles*/
.container-body {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

    h1 {
        width: 80%;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: left;
        margin-bottom: 1.5em;
        color: #fff;
    }

    .container-characters,
    .container-planets {
        width: 80%;
        overflow-y: scroll;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1em;

        .row {
        width: 100%;
        flex-wrap: nowrap;
        padding-bottom: 1em;

        .cards-list {
            display: flex;
        }
        }

        .container-characters::-webkit-scrollbar-track {
        background-color: $black;
        border-radius: 10px;
        }

        &::-webkit-scrollbar {
        -webkit-appearance: none;
        }

        &::-webkit-scrollbar:horizontal {
        height: 10px;
        }

        &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 10px;
        }

        &:not(.container-planets) {
        margin-bottom: 3em;
        }
    }
}

/*Card styles*/

.card {
  .btn-container {
    button {
      color: #fff;
      font-weight: 400;
    }
  }
}

/*Details styles*/
.details-body {
  margin-top: 8em;

    .wrapper {
        margin: 0 1em;
        position: relative;

        .detalle-container {
        width: 100%;
        height: 100%;

            .pic {
                height: 800px;
                position: relative;

                img {
                    width: 100%;
                    height: 370px;
                    object-fit: cover;
                    position: relative;

                    @media all and (min-width: 1024px) {
                        & {
                        width: 40%;
                        height: 100%;
                        object-fit: cover;
                        position: relative;
                        left: 40px;
                        }
                    }
                }

                .detalles-bg {
                    height: 600px;
                    background: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(42, 42, 42, 0.427889) 14%,
                        rgba(42, 42, 42, 0.8127626050420168) 29%,
                        rgba(42, 42, 42, 1) 37%
                    );
                    border-radius: 0 0 15px 15px;
                    position: relative;
                    top: -220px;           

                    @media all and (min-width: 1024px){//Media Querie .detalles-bg
                        &{
                            width: 60%;
                            right: 40px;
                            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(42, 42, 42, 0.374667) 3%, rgba(42, 42, 42, 0.9052) 8%, #2a2a2a 11%);
                            top: unset;
                            border-radius: 0 15px 15px 0;
                        }
                    }

                }

                @media all and (min-width: 1024px){//Media Querie .pic
                    &{
                        width: 100%;
                        height: 600px;
                        display: flex;
                        position: relative;
                    }
                }
            
            }

            .detalles{
                position: absolute;
                bottom: 70px;
                padding: 0 1em;

                h1{
                    color: #fff;
                    font-size: 1.7rem;
                    margin-bottom: 1.5em;
                    text-align: center;
                    text-transform: uppercase;

                    @media all and (min-width: 1024px){
                        &{
                            font-size: 2.5rem;
                            margin-bottom: 1em;
                        }
                    }
                }

                &>p{
                    color: #fff;
                    font-size: 1.1rem;
                    text-transform: capitalize;

                    &:first-of-type{
                        line-height: 1.1rem;
                        text-align: center;
                        text-transform: unset;

                        &::before,
                        &::after {
                            content: "";
                            width: 80%;
                            height: 1px;
                            background-color: #fff;
                            display: block;
                            margin: 0 auto;
                        }
                        &::before {
                            margin-bottom: 1em;
                        }
                        &::after {
                            margin-top: 1em;
                            margin-bottom: 1.5em;
                        }
                    }

                    &:nth-child(2){
                        margin-top: 1.5;
                    }

                    @media all and (min-width: 1024px){
                        &:first-of-type{
                            font-size: 1.4rem;
                            line-height: 1.4rem;
                        }
                    }
                }

                button{
                    width: 100%;    
                    background-color: transparent;
                    border: none;
                    color: #fff;
                    font-size: 1.3rem;
                    text-align: right;
                    
                }

                @media all and (min-width: 1024px){//MQ .detalles
                    &{
                        width: 550px;
                        right: 125px;
                        height: 100%;
                        bottom: 0;
                        padding: 4em 0;
                        display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                    }
                }
            }

            @media all and (min-width: 1024px){//Media Querie .detalle-container
                &{
                    width: 100%;
                    height: 100%;
                    display: flex;
                }
            }

        
        }

        @media all and (min-width: 1024px){//Media Querie .wrapper
            &{
                margin: 0 12em;
            }
        }

    }

    @media all and (min-width: 1024px){//MQ .details-body
        &{
            height: 80vh;
            display: flex;
                flex-direction: column;
                justify-content: center;
            margin-top: 7em;
        }
    }
}


/*Footer*/

footer{
    p{
        color: #fff;
    }
}